@model List<ResultProjectDto>


<section class="artists-section section-padding" id="section_3">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 text-center">
                <h1 class="mb-4">Projelerim</h1>
            </div>
            @foreach (var item in Model)
            {

       
            <div class="col-lg-5 col-12">

                <div class="artists-thumb">
                    <img src="@item.ProjectImage"
                         class="artists-image img-fluid">

                    <div class="artists-hover">
                        <p>
                            <strong>Proje Adı : @item.ProjectName</strong>
                            
                        </p>
                        <hr>

                        <p class="mb-0">
                            <strong>Açıklama : @item.Description</strong>
                        </p>
                    </div>
                </div>
            </div>

            }
            
        </div>
    </div>
</section>