<section class="about-section section-padding" id="section_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="about-text-wrap">
                    <img src="~/ui/images/img.jpeg" class="about-image img-fluid">


                </div>
            </div>

            <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
                <div class="services-info">
                    <h2 class="text-white mb-4">Hakkımda</h2>

                    <p class="text-white">
                        Merhaba, ben Burak. 1996 yılında Manisa'da doğdum ve lise eğitimimi Halit Görgülü Lisesi'nde tamamladım. Daha sonra, Manisa Celal Bayar Üniversitesi'nde Bilgisayar Programcılığı bölümünü okudum ve 3.09 ortalama ile mezun oldum. Şu anda ise, Manisa Celal Bayar Üniversitesi'nde Endüstri Mühendisliği öğrencisiyim ve Manisa Celal Bayar Üniversitesi Hafsa Sultan Hastanesi'nde yazıcı ve printer takip sistemi uygulamasında Full-Stack Developer olarak çalışıyorum.
                    </p>


                </div>
            </div>



        </div>
    </div>
</section>