@model List<ResultSkillDto>
@{
    Layout = null;
}







<section class="artists-section section-padding" id="section_4">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 text-center">
                <h1 class="mb-4">Kullandığım Teknolojiler</h1>
            </div>
     
            <div class="slider">
                <div class="slide-track">
                    @foreach (var item in Model)
                    {


                        <div class="slide">
                            <img style="height: 90px; width: auto;" src="@item.SkillImage" alt="" />
                        </div>
                    }

                    </div>
            </div>
      




        </div>
    </div>
</section>